
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>ABC Realtors</h1>
    <p class="lead">Our Services include residential, commercial, and land real estate.  Our team consists of Internationally experienced and qualified property management experts.We work with a wide range of property owners residing across the globe.</p>
</div>

